/* justify-content works for main axis */

/* for websites, main axis is horizontal */
/* so, flex-direction: row (default) */

/* for mobile apps, main axis is vertical */
/* so, flex-direction: column (default) */

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.container > div {
  width: 10vw;
  height: 8vh;
}

.order {
  order: -1;
}
